.board td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.board {
  margin: 20px;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox {
  border: 1px solid black;
  height: auto;
  width: 60%;
}

.correctCell {
  background: green;
}

.wrongCell {
  background: red;
}

.question {
  margin: 10px;
}

.answer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  margin: 5px 0;
}

@media screen and (max-width: 767px) {
  .questionBox {
    border: 1px solid black;
    height: auto;
    width: 90%;
  }
}